* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  background-color: dimgray;
}

.nav-name {
  margin-right: auto;
  padding: 10px;
}

li a {
  font-size: 150%;
  float: right;
  padding: 14px 16px;
  color: aqua;
}

h1 span {
  background-color: aqua;
  padding: 5px;
  border-radius: 10px;
}

.hero-banner {
  background-image: url(../images/02-hero-bg.jpg);
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: black;
}

.hero-subtitle {
  font-size: 175%;
  background-color: aqua;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.page-section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 50px 0;
}

.page-section h2 {
  border-right: 5px solid aqua;
  text-align: right;
  padding-right: 20px;
  font-size: 50px;
  margin: 10px 0px 10px 0px;
}

.page-section article {
  padding: 0px 150px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 4px;
  width: 250px;
}

.portfolio-item-1 {
     background-image: url(../images/horiseon.PNG);
}

.portfolio-item-2 {
  background-image: url(../images/git-commands.PNG);
}

.portfolio-item-3 {
  background-image: url(../images/basic-bio.PNG);
}

.portfolio-item-4 {
  background-image: url(../images/prework-study-guide.PNG);
}

.portfolio-item-5 {
  background-image: url(../images/flexbox-testing.PNG);
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container p {
  font-size: small;
}

.flex-item {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-basis: calc(50% -1em);
  margin: .5em;
  min-height: 150px;
  min-width: 600px;
  padding: 0 20px 10px 10px;
  background-size: 175%;
  background-repeat: no-repeat;
}

.flex-item div {
  background-color: aqua;
  padding: 10px;
}

.flex-item:first-child {
  min-height: 400px;
  flex-basis: 80%;
}


.flex-item h3 {
  font-size: 1.6rem;
  /* border-bottom: 10px; */
  margin-bottom: 20px;
}

.email {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .flex-item {
    flex-basis: 100%;
  }
  .flex-item:first-child {
    min-height: 150px;
  }
}


